#bottomPanel {
	background-color: black;
	font-size: 10.5pt;
	height: 1.86em;
}

#windowList {
	/* Spacing is an unofficial CSS property in St
	 * It's only used in StBoxLayout */
	spacing: 6px;
}

.window-button {
	border-radius: 4px;
	border-width: 1px;
	border-color: white;
	background: black;
	color: #bbb;
	padding: 0px 2px;
}

.window-button:focused {
	color: white;
	background: #444;
}

.window-button:hover {
	color: white;
}

.window-label {
	font-weight: bold;
	width: 15em;
	/* This makes the layout fluid, i.e. window-list-items will become
	 * smaller when space runs out instead of falling of the screen */
	min-width: 0;
}

.window-icon {
	width: 16px;
	height: 16px;
}
