.bottom-panel {
    color: white;
	background: black;
	border-image: url("bottom-panel-border.svg") 1;
	font-size: 10.5pt;
	height: 1.86em;
	spacing: 6px;
}

.window-list-box {
	spacing: 6px;
}

.window-list-item-box {
	spacing: 3px;
	border-radius: 4px;
	border-width: 1px;
	border-color: white;
	background: black;
	color: #bbb;
	padding: 0px 2px;
}

.window-list-item-box:focused {
	color: white;
	background: #444;
}

.window-list-item-label {
	font-weight: bold;
	width: 15em;
	/* This makes the layout fluid, i.e. window-list-items will become
	 * smaller when space runs out instead of falling of the screen */
	min-width: 5px;
}
